/**
 * Notice
 */
 
.notice {
    background: #FCFFFA;
    border: 1px solid #59b200;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    color: #517C27;

    padding: 15px;

}